.youtubePlayer {
    /* box-shadow: 0 4px 12px -2px rgb(0, 255, 8); */
    margin: auto;
}

.youtubeDiv {
    margin-top: 50px;
}

.youtubeHeader {
    color: rgb(255, 255, 255);
    font-size: 50px;
}