.loginForm {
    width: 50%;
    margin: auto;
    background-color: lime;
    border-radius: 10px;
}

.loginContainer {
    text-align: center;
    margin-top: 50px;
}

label {
    font-size: 40px;
}

.loginHeader {
    font-size: 60px;
}

.submitBtn {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: lime;
}

.form-control {
    font-size: 29px;
}